<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiwitech.android.home">

    <application>

        <activity
            android:name="com.hiwitech.android.application.ActivityMain"
            android:screenOrientation="portrait" />

        <activity android:name="com.hiwitech.android.route.ActivityAroute" />

        <activity
            android:name="com.hiwitech.android.notify.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity android:name="com.hiwitech.android.detail.activity.ActivityDetail" />

    </application>

</manifest>